﻿@{
    ViewBag.Title = "Contacto";

    ViewBag.Message = "Diego Armando Saldivar Armendariz";
    ViewBag.Email = "dssaldivar0509@gmail.com";
    ViewBag.Direccion = "Jardines del Virrey , Apodaca Nuevo León";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <a href="https://www.facebook.com/diego.saldivara" class="thumbnail">
                    <img src="https://scontent.fntr6-4.fna.fbcdn.net/v/t39.30808-1/p200x200/200473563_4341210245938590_8887263783917931133_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=7206a8&_nc_eui2=AeGQhd7j__8jlcc9cMKawQL3RSszD8DuIJtFKzMPwO4gm_0YWun5W24qOUf2lgCNcak&_nc_ohc=7B5BMpbqAlkAX9E_Q3K&_nc_ht=scontent.fntr6-4.fna&oh=00_AT_CfydBAEgItWE94Z4fbSxN9NvMUmRTN4dij0BCYkfugw&oe=61EE6A1D" alt="...">
                </a>
            </div>
        </div>
        <address>
            <br />
            <strong>Whatsapp:</strong>   <a class="btn btn-success" target="_blank" href="https://api.whatsapp.com/send?phone=@ViewData["Telefono"]&text=Hola!">@ViewData["Telefono"]</a>
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:@ViewBag.Email">@ViewBag.Email</a>
            <br />
        </address>
    </div>
    <div class="col-xs-12 col-md-6">

        <address>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.6743721015273!2d-100.17571038452392!3d25.74827991543902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662ebd926a915a5%3A0xa6763ad644dcbfbb!2sJardines%20del%20Virrey%2C%2066645%20Cd%20Apodaca%2C%20N.L.!5e0!3m2!1ses-419!2smx!4v1642737375462!5m2!1ses-419!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <br />
            <strong>Dirección: </strong>@ViewBag.Direccion;
        </address>
    </div>
</div>