﻿@model List<ProyectoFIMA.ModelsView.TablaOrdenesCompra>
@{
    ViewBag.Title = "Consulta";
    ViewBag.Message = "Tabla de datos inscritos";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripción</th>
                <th scope="col">Tarea</th>
                <!--th scope="col">Urgente</th-->
                <th scope="col">Activo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">OT-@String.Format("{0:D4}", item.id_orden)</th>
                    <td>
                        @item.descripcion
                    </td>
                    <td>
                        @item.tarea
                    </td>
                    <!--td>
                        @item.urgente
                    </td-->
                    <td>
                        @{
                            if (item.estatus.Equals("A"))
                            {
                                <input class="apple-switch" type="checkbox" checked onclick="actualizarEstatus(@item.id_orden)" />

                            }
                            else
                            {
                                <input class="apple-switch" type="checkbox" onclick="actualizarEstatus(@item.id_orden)" />

                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
