﻿@model ProyectoFIMA.ModelsView.TablaOrdenesCompra
@{
    ViewBag.Title = "Registro";
    ViewBag.Message = "Formulario para generar orden de compra";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<hr />

@using (Html.BeginForm("Registrar", "Home", FormMethod.Post, new { @class = "form-horizontal", @id="form-registro" }))
{
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Descripción Orden de compra : </label>
        <div class="col-sm-8">
            @Html.TextBoxFor(a => a.descripcion, new { @class = "form-control", @min = "20", @max = "255" })
        </div>
    </div>
    <div class="form-group">
        <button type="button" style=" float: right; margin-right: 16px;" class="btn btn-info" onclick="agregarTareas()"> Agregar Tarea</button>
    </div>
    <hr />
    <div class="tareas jumbotron" style="display:none">

    </div>
    <div class="form-group">
        <div class="col-sm-offset-0 col-sm-12">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(a => a.urgente)
                    ¿Es urgente?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-0 col-sm-12">
            <input type="button" class="btn btn-success" onclick="registar()" value="Registar">
        </div>
    </div>
}